<h1><%= @event.title %></h1>

<dl class="dl-horizontal">
  <%= definition gettext("Title"), @event.title %>
  <%= definition gettext("Description"), format_linebreaks(@event.description) %>
</dl>

<div>
  <h2><%= gettext("Original") %></h2>
  <%= display_medium(@event, :original) %>
</div>

<div>
  <h2><%= gettext("Thumb") %></h2>
  <%= display_medium(@event, :thumb) %>
</div>

<div>
  <h2><%= gettext("Animated") %></h2>
  <%= display_medium(@event, :animated) %>
</div>