<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>MyTube · Phoenix Framework</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <%= csrf_meta_tag() %>
  </head>
  <body>
    <div class="wrapper">
      <nav id="sidebar">
        <div class="sidebar-header d-flex align-items-end">
          <button type="button" id="dismiss" class="btn btn-light">
            <%= fa("arrow-left") %>
          </button>
          <h3 class="flamenco">MyTube</h3>
        </div>

        <div class="sidebar-body">
          <ul class="list-unstyled components">
            <p>Dummy Heading</p>

            <li>
              <a href="#firstSubmenu" data-toggle="collapse" aria-expanded="false">First</a>
              <ul id="firstSubmenu" class="collapse list-unstyled">
                <li><a href="">one</a></li>
                <li><a href="">two</a></li>
                <li><a href="">three</a></li>
              </ul>
            </li>
            <hr/>
            <li>
              <a href="#secondSubmenu" data-toggle="collapse" aria-expanded="false">Second</a>
              <ul id="secondSubmenu" class="collapse list-unstyled">
                <li><a href="">one</a></li>
                <li><a href="">two</a></li>
                <li><a href="">three</a></li>
              </ul>
            </li>
          </ul>
        </div>

      </nav>

      <div id="content">
        <header>
          <%= 
            navbar(
              @conn, 
              [
                # link("Live", to: Routes.live_path(@conn, MyTubeWeb.DemoLive), class: "nav-link"),
              ], 
              right_links(@conn, @current_user)
            ) 
          %>
          <%= if @current_user, do: render "userbar.html", conn: @conn, links: links(@conn, @current_user) %>
        </header>
        <main role="main" class="container-fluid">
          <div class="<%= flash_class(@conn) %>">
            <%= flash(get_flash(@conn, :info), :success) %>
            <%= flash(get_flash(@conn, :error), :danger) %>
          </div>
          <%= render @view_module, @view_template, assigns %>

          <footer class="footer container">
            <p class="text-muted">&copy; klg - 2020</p>
          </footer>
        </main>
      </div>  
    </div>
    <div class="overlay"></div>

    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/vendor.js") %>"></script>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
