<main role="main" class="container-fluid">
  <div class="<%= flash_class(@conn) %>">
    <%= flash(get_flash(@conn, :info), :success) %>
    <%= flash(get_flash(@conn, :error), :danger) %>
  </div>
  <%= @inner_content %>
</main>