<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>MyTube · Phoenix Framework</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
  <body>
    <header>
      <%= navbar(@conn, [], right_links(@conn, @current_user)) %>
      <%= if @current_user, do: render "userbar.html", conn: @conn, links: links(@conn, @current_user) %>
    </header>
    <main role="main" class="container-fluid">
      <div class="<%= flash_class(@conn) %>">
        <%= flash(get_flash(@conn, :info), :success) %>
        <%= flash(get_flash(@conn, :error), :danger) %>
      </div>
      <%= render @view_module, @view_template, assigns %>

      <footer class="footer container">
        <p class="text-muted">&copy; klg - 2020</p>
      </footer>
    </main>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/vendor.js") %>"></script>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
